# Python-related files
__pycache__/
*.py[cod]
*.so
.env
.venv
env/
venv/
ENV/

# Docker-related files
.docker/
docker-compose.override.yml

# Log files
*.log
logs/

# IDE-specific files
.vscode/
.idea/
*.code-workspace

# OS-specific files
.DS_Store
Thumbs.db
Desktop.ini
*~

# Project-specific files
kafka-logs/
zookeeper-data/
data-files/